:root[data-theme='dark'] {
    --bg: #071226;
    --sup: #0f1b2b;
    --muted-sup: #0c1622;
    --neon: #00d6ff;
    --neon-transp: #00d6ff7d;
    --acc-1: #8b5cf6;
    --acc-2: #ff5ca8;
    --textC: #ffffff;
}
:root[data-theme='light'] {
    --bg: #9fbbee;
    --sup: #556e9c;
    --muted-sup: #485c73;
    --neon: #000000;
    --neon-transp: #400f857d;
    --acc-1: #000000;
    --acc-2: #ff5ca8;
    --textC: #000000;
}
* {
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
    height: 100vh;
    height: 100svh;
    height: 100dvh;
    background-color: var(--bg);
    color: var(--textC);
    overflow-x: hidden;
    transition: 1s ease;
}
body::-webkit-scrollbar {
    width: 13px;
}
body::-webkit-scrollbar-track {
    background-color: var(--bg);
}
body::-webkit-scrollbar-thumb {
    background-color: transparent;
    border: var(--neon-transp) 2px solid;
    border-radius: 25px;
    box-shadow: 0 0 20px var(--neon);
}
/* Barra de navegação */
nav {
    position: sticky;
    top: 0.4rem;
    margin: 0.4rem;
    padding: 0 10rem;
    display: flex;
    height: 5rem;
    background-color: var(--sup);
    border-radius: 8px;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 0 15px black;
    z-index: 1;
    transition: 1s ease;
}
nav > img.navLogo {
    position: absolute;
    left: 2rem;
    height: 70%;
    background-color: #0f1b2b;
    border: var(--neon) 1px solid;
    border-radius: 10px;
    box-shadow: 0 0 4px var(--neon);
    transition: 1s ease;
}
nav > .navbtn {
    display: none;
}
.navbtn {
    border: var(--neon) 2px solid;
    background-color: var(--muted-sup);
    box-shadow: 0 0 8px var(--acc-1);
    padding: 0.6rem;
    border-radius: 8px;
    cursor: pointer;
    transform: translateY(0);
    transition: 1s ease;
}
.navHamb,input#HambCheckbox {
    display: none;
}
nav > .navHamb {
    display: block;
    position: absolute;
    height: 40%;
    aspect-ratio: 1/1;
    align-content: center;
    right: 2rem;
}
.hambContainter {
    width: 100%;
    width: 100%;
}
.hambLines {
    position: relative;
    display: block;
    width: 100%;
    height: 5px;
    background-color: var(--neon);
    border-radius: 15px;
    transition: 2s ease;
}
.hambLines::before,
.hambLines::after   {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 5px;
    background: var(--neon);
    border-radius: 15px;
    transition: 1s ease;
}
.hambLines::before {
    top: -13px;
}
.hambLines::after {
    bottom: -13px;
}
#HambCheckbox:checked ~ label .hambLines {
    background-color: transparent;
    transition: 0.5s ease;
}
#HambCheckbox:checked ~ label .hambLines::after {
    bottom: 0;
    transform: rotate(-45deg);
    transition: 1s ease;
}
#HambCheckbox:checked ~ label .hambLines::before {
    top: 0;
    transform: rotate(45deg);
    transition: 1s ease;
}
#HambCheckbox:checked ~ div.navbtn {
    opacity: 0;
    transform: translateY(-50px);
    transition: 1s ease;
}
body:has(#HambCheckbox:checked) aside {
    opacity: 1;
    transform: translateX(0);
    transition: 1s ease;
}
/* Aside e temas */
aside {
    position: fixed;
    display: flex;
    margin-right: 0.4rem;
    background-color: var(--sup);
    border-radius: 8px;
    box-shadow: 0 0 15px black;
    width: 200px;
    height: 50vh;
    top: 5.8rem;
    right: 0;
    opacity: 0;
    transform: translateX(50px);
    justify-content: center;
    transition: opacity 1s ease, transform 1s ease;
    z-index: 1;
}
aside > div {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    max-width: fit-content;
    justify-content: space-around;
    align-items: center;
}
aside .navbtn {
    text-align: center;
}
aside input#themeChanger {
    display: none;
}
aside label {
    width: 3rem;
    aspect-ratio: 1/1;
}
aside div .themeChangerBox {
    width: 3rem;
    aspect-ratio: 1/1;
    background-color: #000000;
    clip-path: circle();
}
/* Main e informações */
main {
    padding: 1.5rem;
}
main > h1 {
    margin-top: 1rem;
    font-family: "Audiowide", sans-serif;
    font-size: 2.2rem;
    justify-self: center;
    margin-bottom: 1.5rem;
}
main > h1::after {
    content: '';
    position: relative;
    display: block;
    border: var(--textC) 2px solid;
    width: 100%;
    transition: 1s ease;
}
main > h2 {
    justify-self: center;
    margin-bottom: 1rem;
}
/* Tablets */
@media (min-width: 768px) {
    nav > .navbtn {
        display: block;
    }
    .navHamb {
        display: block;
        height: 50%;
        aspect-ratio: 1/1;
        align-content: center;
    }
    .hambContainter {
        width: 100%;
        width: 100%;
    }
    .hambLines {
        position: relative;
        display: block;
        width: 100%;
        height: 5px;
        background-color: var(--neon);
        transition: 2s ease;
    }
    .hambLines::before,
    .hambLines::after   {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 5px;
        background: var(--neon);
        transition: 1s ease;
    }
    .hambLines::before {
        top: -13px;
    }
    .hambLines::after {
        bottom: -13px;
    }
    #HambCheckbox:checked ~ label .hambLines {
        background-color: transparent;
        transition: 0.5s ease;
    }
    #HambCheckbox:checked ~ label .hambLines::after {
        bottom: 0;
        transform: rotate(-45deg);
        transition: 1s ease;
    }
    #HambCheckbox:checked ~ label .hambLines::before {
        top: 0;
        transform: rotate(45deg);
        transition: 1s ease;
    }
    body:has(#HambCheckbox:checked) aside {
        opacity: 1;
        transition: 1s ease;
    }
}
/* Desktop */
@media (min-width: 1024px){

}